<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirGLOverlay">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".process.p1" android:process=":p1" android:exported="true"/>
        <service android:name=".process.p2" android:process=":p2" android:exported="true"/>
        <service android:name=".process.p3" android:process=":p3" android:exported="true"/>
        <service android:name=".process.p4" android:process=":p4" android:exported="true"/>
        <service android:name=".process.p5" android:process=":p5" android:exported="true"/>
        <service android:name=".process.p6" android:process=":p6" android:exported="true"/>
        <service android:name=".process.p7" android:process=":p7" android:exported="true"/>
        <service android:name=".process.p8" android:process=":p8" android:exported="true"/>
        <service android:name=".process.p9" android:process=":p9" android:exported="true"/>
        <service android:name=".process.p10" android:process=":p10" android:exported="true"/>
        <service android:name=".process.p11" android:process=":p11" android:exported="true"/>
        <service android:name=".process.p12" android:process=":p12" android:exported="true"/>
        <service android:name=".process.p13" android:process=":p13" android:exported="true"/>
        <service android:name=".process.p14" android:process=":p14" android:exported="true"/>
        <service android:name=".process.p15" android:process=":p15" android:exported="true"/>
        <service android:name=".process.p16" android:process=":p16" android:exported="true"/>
        <service android:name=".process.p17" android:process=":p17" android:exported="true"/>
        <service android:name=".process.p18" android:process=":p18" android:exported="true"/>
        <service android:name=".process.p19" android:process=":p19" android:exported="true"/>
        <service android:name=".process.p20" android:process=":p20" android:exported="true"/>
        <service android:name=".process.p21" android:process=":p21" android:exported="true"/>
        <service android:name=".process.p22" android:process=":p22" android:exported="true"/>
        <service android:name=".process.p23" android:process=":p23" android:exported="true"/>
        <service android:name=".process.p24" android:process=":p24" android:exported="true"/>
        <service android:name=".process.p25" android:process=":p25" android:exported="true"/>
        <service android:name=".process.p26" android:process=":p26" android:exported="true"/>
        <service android:name=".process.p27" android:process=":p27" android:exported="true"/>
        <service android:name=".process.p28" android:process=":p28" android:exported="true"/>
        <service android:name=".process.p29" android:process=":p29" android:exported="true"/>
        <service android:name=".process.p30" android:process=":p30" android:exported="true"/>
        <service android:name=".process.p31" android:process=":p31" android:exported="true"/>
        <service android:name=".process.p32" android:process=":p32" android:exported="true"/>

    </application>
</manifest>