<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk tools:overrideLibrary="com.mittorn.virgloverlay" />
    <!--    android:name="com.example.datainsert.exagear.application.MyApplication"-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 更改您的音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application

        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.ExagearSupportV7包"
        tools:replace="android:theme"
        tools:targetApi="31">

        <activity
            android:name="com.eltechs.ed.activities.EDStartupActivity"
            android:exported="true"
            android:label="模拟ED启动"
            android:theme="@style/ThemeDefaultDialogNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.ewt45.exagearsupportv7.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExagearSupportV7包.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.eltechs.ed.activities.EDMainActivity"
            android:parentActivityName="com.eltechs.ed.activities.EDStartupActivity"
            android:theme="@style/ThemeDefault" />
        <activity
            android:name="com.eltechs.ed.activities.EDHelpActivity"
            android:parentActivityName="com.eltechs.ed.activities.EDMainActivity"
            android:theme="@style/ThemeDefault" />
        <activity
            android:name="com.eltechs.axs.activities.XServerDisplayActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/ThemeDefaultFullscreen" />
        <activity
            android:name="com.eltechs.axs.activities.FatalErrorActivity"
            android:theme="@style/ThemeDefaultDialogNoTitle" />
        <activity android:name="com.eltechs.axs.activities.SwitchToAxsFromSystemTrayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="com.eltechs.axs.environmentService.AXSEnvironmentService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>


        <!--        <provider-->
        <!--            android:name="android.support.v4.content.FileProvider"-->
        <!--            android:authorities="${applicationId}.provider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/provider_paths" />-->
        <!--        </provider>-->
    </application>

</manifest>